@model CoffeeBlend.Web.ViewModels.BlogViewModel.CreateBlogInputModel

@{
    ViewData["Title"] = "Blog";
}

<section class="ftco-menu form-group mb-5 pb-5 text-center">
    <hr />
    <h1 class="text-center col-3 offset-4">Create</h1>

    <form method="post" class="text-center col-3 offset-4" enctype="multipart/form-data">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Title"></label>
            <input asp-for="Title" class="form-control"/>
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ImageFile"></label>
            <input type="file" asp-for="ImageFile" class="form-control-file text-center"/>
            <span asp-validation-for="ImageFile" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Content"></label>
            <textarea asp-for="Content" class="form-control" rows="4"></textarea>
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="AuthorName"></label>
            <textarea asp-for="AuthorName" class="form-control" rows="1"></textarea>
            <span asp-validation-for="AuthorName" class="text-danger"></span>
        </div>
        <input type="submit" class="btn btn-primary" value="Add Blog"/>
    </form>
</section>

<div class="text-center col-3 offset-4">
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
