@model CoffeeBlend.Web.ViewModels.Administration.Dashboard.IndexViewModel
@{
    this.ViewData["Title"] = "Admin dashboard";
}
<section class="ftco-menu text-center">
    <h2>Admin Section</h2>

    <div class="row">
        <div class="col">
            <a asp-area="Administration" asp-controller="Categories" asp-action="Index" class="btn btn-primary py-3 px-5">Categories</a>
        </div>
        <div class="col">
            <a asp-area="Administration" asp-controller="Products" asp-action="Index" class="btn btn-primary py-3 px-5">Products</a>
        </div>
        <div class="col">
            <a asp-area="Administration" class="btn btn-primary py-3 px-5">Blogs</a>
        </div>
        <div class="col">
            <a asp-area="Administration" class="btn btn-primary py-3 px-5">Gallery</a>
        </div>
    </div>
</section>