@{
    this.ViewData["Title"] = "Reservation Page";
}

<section class="ftco-menu mb-5 pb-5 text-center">
    <div class="container text-center">
        <h2>Booking Confirmed</h2>
        <div class="alert alert-success">
            <p>We are pleased to inform you that your reservation request has been received and confirmed.</p>
            <p>Thanks for deciding to visit us.</p>
        </div>
        <p><a asp-controller="Home" asp-action="Index" class="btn btn-primary p-3 px-xl-4 py-xl-3">Back to Home Page</a></p>
    </div>
</section>